*{
  text-decoration: none;
  list-style: none;
}

body{
  min-height: 100vh;
  position: relative;
}

.app{

  .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
    width: fit-content;
    margin: 10px auto 40px;

    li{

      a{
        display: inline-block;
        padding: 15px 30px;
        transition: all 0.3s;
        &:hover{
          background-color: var(--primary);
          color: white;
        }
        text-decoration: none;
        color: var(--primary);
      }
    }
  }

  .table{
    margin-bottom: 50px;
    .btn{
      transform: scale(0.8);
    }
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    .title{
      margin: 0!important;
      padding: 10px 0;
      color: var(--primary);
    }
  }
}

.block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  input{
    display: inline-block;
    width: 130px;
    border-radius: 20px;
  }
  span{
    font-size: 25px;
    font-family: cursive;
    margin-left: -25px;
  }
}

.kirimlar,.chiqimlar{
  .block{
    span{
      margin-left: 310px;
    }
  }
}


